html{
    background-color: rgb(#F8F8FF);
}

head {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}

h3{
    margin: 10px;
    color:rgb(70, 82, 145);
    font-weight:bold;
}

h4{
    margin: 5px;
}


.title {
    font-size : 30px;
    font-weight : bold;
    line-height : 20px;
    width : 98% ;
    max-width: 450px;
}

.welcome-box{
    color : rgb(236, 234, 234);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
    background-color: rgb(255, 255, 255);
    padding:10px;
    width: 90%;
    max-width: 700px;
    height: auto;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

.card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 90%;
    max-width: 700px;
    height: auto;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

.card-organize {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-description {
    background-color: rgb(240, 240, 245);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
    color:rgb(51, 51, 51);
    font-size: 18px;
    text-align: left;
    border-radius: 10px;
    padding : 10px;
}

.about-image {
    display: flex;
    max-width : 150px;
    border-radius: 60px;
    align-items: center;
}

.link {
    color : rgb(#007BFF);
    font-weight: bold;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color: rgb(0, 86, 179)
}

.link_button {
    background-color: #6B6BBF ;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 4px 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
    transition: background-color 0.3s ease, transform 0.1s ease;

}

.link_button:hover{
    background-color:#32326F;
}

.project-title{
    font-weight: bold;
    font-size: 18px;
    color:rgb(70, 70, 145);
}

.project{ 
    background-color:rgb(240, 240, 245);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
    color:rgb(51, 51, 51);
    flex: 1;
    font-size: 16px;
    min-width: 200px;
    text-align: left;
    padding : 4px;
    border-radius: 10px;
    
}

.project-image{
    height : 90%;
    max-height : 200px
}

.button-card{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    background-color: rgb(#e7c2ef);
    padding: 10px;
    width: 90%;
    max-width: 700px;
    height: auto;
    margin: auto;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius: 10px;
    gap:5px;
    flex-wrap: wrap;
}

.button-symbols{
    height: 18px;
    align-items: center;
}

.button-text{
    font-size: 18px;
    align-items: center;
    color:rgb(255, 255, 255)
}


